/* 
#D9FEFC       #9CFE76            #125052       #542543
#9FDF65       #8A5FAB            #D299B4       #2807C0
#1AD4C6       #2563AB            #F2608F       #64849A
#0BA9F3       #8DAEB2            #CAE2D2       #7DDA1F    #1D2E48
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "cinzel", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */
.header-section {
  background: url(../img/header.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading {
  color: #f0f2f5;
  /* color: #5f5f5f; */
  text-transform: capitalize;
  font-size: 100px;
}

.header-heading span {
  color: blanchedalmond;
}
/* Navbar Section */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: 0.5s;
}

.navbar.bg {
  background-color: #280D25;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 /40);
}

.navbar.bg .link {
  color: #f0f2f5;
  opacity: 0.5;
}

.links-container {
  display: flex;
  align-items: center;
  list-style: none;
}

.link-item {
  margin: 20px;
}

.link {
  text-decoration: none;
  color: #f0f2f5;
  font-size: 18px;
  padding: 10px;
  text-transform: capitalize;
  transition: 0.5s;
  opacity: 0.7;
}

.link.active,
.link:hover,
.navbar.bg .link:hover,
.navbar.bg .link.active {
  opacity: 1;
}

.user-interactions {
  display: flex;
  position: absolute;
  right: 5vw;
  transform: translateY(-50%);
  top: 50%;
}

.cart,
.user {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 15px;
  cursor: pointer;
}

.cart-icon,
.user-icon {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cart-item-count {
  position: absolute;
  bottom: -11px;
  left: -11px;
  background-color: #631f56;
  color: #f0f2f5;
  font-weight: 500;
  font-family: "cinzel", sans-serif;
  padding: 3px;
  border-radius: 50px/15px;
}

.cart-item-count:hover {
  background-color: #6074a3;
  color: #f0f2f5;
  transition: 0.5s;
  opacity: 1;
  border-radius: 20px/55px;
}
/* Best Selling Products Section */
.best-selling-products {
  position: relative;
  padding: 60px 5vw;
}

.title {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
  text-shadow: 3px 3px 5px #2f757c;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-card {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 0px 5px 3px rgb(0 0 0 /40%);
  cursor: pointer;
  border: 5px solid lightblue;
  background-color: darkgrey;
}

.product-card:nth-child(even) {
  border-color: lightgoldenrodyellow;
  background: lightsteelblue;
}

.product-img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.product-name {
  position: absolute;
  color: #f0f2f5;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 0;
}

.product-card:hover .product-img {
  opacity: 0.5;
}

.product-card:hover .product-name {
  opacity: 1;
}
/* Mid Section */
.mid-section {
  height: 800px;
  width: 100%;
  padding: 40px 5vw;
}

.mid-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.section-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px/50px;
  /* border-top-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  box-shadow: 2px 0px 5px 3px rgb(0 0 0 /40%);
}

.section-info {
  background-color: #f0f2f5;
  height: 100%;
  width: 50%;
  display: block;
  margin-left: auto;
  padding: 10px;
  text-align: center;
  /* border-radius:  50px/15px; */
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 /40%);
}

.section-title {
  text-transform: capitalize;
  font-size: 100px;
  line-height: 120px;
  padding: 10px;
  margin: 10px;
  font-weight: lighter;
  font-family: "cinzel", monospace;
  text-shadow: 0 0 3px crimson, 0 0 5px #8080e7;
}

.section-title span {
  color: #2f757c;
}

.section-paragraph {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 20px;
}

/* Images Mid Section */
.img-mid-section {
  height: 600px;
  width: 100%;
  padding: 60px 5vw;
}

.image-collage {
  background: url(../img/bg-3.png);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.image-collection {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  margin: 0 auto;
}

.collage-img {
  position: absolute;
  object-fit: cover;
  transition: 0.5s;
  /* border-radius: 10px; */
  box-shadow: 0px 0px 5px 3px rgb(0 0 0 /40%);
}

.collage-img:nth-child(1) {
  width: 350px;
  height: 350px;
  top: 20px;
  left: 40px;
}

.collage-img:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 200px;
  left: 200px;
}

.collage-img:nth-child(3) {
  width: 250px;
  height: 250px;
  top: 100px;
  left: 350px;
}

.collage-img:hover {
  transform: translateY(-10px);
}

/* Review Section */
.review-section {
  padding: 50px 5vw;
  margin-bottom: 30px;
}

.review-title {
  text-transform: capitalize;
  text-shadow: 2px 2px 5px black;
}

.review-container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.review-card {
  width: 100%;
  height: auto;
  font-family: "lato", sans-serif;
}

.user-display-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.user-display-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-display-picture::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #f0f2f5;
  border-radius: 50%;
}

.user-display-picture::after {
  content: attr(data-rating);
  background-color: cornsilk;
  color: #631f56;
  padding: 5px 15px;
  border-radius: 30px;
  position: absolute;
  right: -20px;
  bottom: 0;
  font-weight: bolder;
  font-family: "cinzel", serif;
}

.review-card-title {
  text-transform: capitalize;
  margin: 20px 0;
  font-size: 20px;
  line-height: 25px;
}
/* #more {
  display: none;
}
#myBtn {
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-family: "lato", serif;
  font-weight: bolder;
  padding: 5px;
  color: #06369b;
}
.review-para {
  width: 90%;
  line-height: 1.4rem;
  margin: 5px 0;
  position: relative;
  text-align: justify;
} */

/* show more 1 */
/* .read-more-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  line-height: 1.4rem;
  margin: 20px 0;
  width: 90%;
  height: 100%;
  text-align: center;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
} */

.show-more-btn {
  color: #1d2e48;
  text-shadow: 1px 2px 6px #631f56, 1px 2px 4px #f0f2f5;
  font-weight: bolder;
  cursor: pointer;
  font-size: 13px;
}

/* Third and fourth review paragraph */
.post {
  width: 90%;
  text-align: justify;
}
.hide {
  display: none;
}

/* End Section */
.end-section {
  height: 800px;
  width: 100%;
  padding: 40px 5vw;
}

.end-container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 30px;
}

.end-img-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 /40);
}

.end-info {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: rgb(241, 239, 230);
  text-align: center;
  padding: 30px;
  margin-right: auto;
  display: block;
  border-radius: 50px/ 15px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 /40%);
}

.end-title {
  font-size: 100px;
  line-height: 100px;
  color: #1d2e48;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "cinzel", monospace;
  text-shadow: 0 0 3px crimson, 0 0 5px #1d2e48;
}

.end-order {
  color: #631f56;
}

.end-paragraph {
  font-size: 20px;
  margin-top: 50px;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}

/* Back to Top Scroll */
.to-top {
  background: #280D25;
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: cornsilk;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 /40);
}

.to-top:hover{
  background-color: #1d2e48;
  transition: 0.5s;
}

.to-top.active {
  bottom: 25px;
  pointer-events: auto;
  opacity: 1;
}
