/* 
#D9FEFC       #9CFE76            #125052       #542543
#9FDF65       #8A5FAB            #D299B4       #2807C0
#1AD4C6       #2563AB            #F2608F       #64849A
#0BA9F3       #8DAEB2            #CAE2D2       #7DDA1F
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'cinzel', serif;
}
/* Navbar Section */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.links-container{
  list-style: none;
  display: flex;
  align-items: center;
}

.link-item{
  margin: 20px;
}

.link{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0.7;
  transition: 0.5s;
  padding: 10px;
}

.link.active, .link:hover{
  opacity: 1;
}

.user-interactions{
  display: flex;
  position: absolute;
  right: 5vw;
  transform: translateY(-50%);
  top: 50%;
}

.cart, .user{
  position:relative;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.cart-icon, .user-icon{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-item-count{
  position: absolute;
  bottom: -12px;
  left: -12px;
  background: lightgoldenrodyellow;
  border-radius: 65%;
  color: lightcoral;
  padding: 5px;
  font-size: 15px;
  font-family: 'lato', sans-serif;
  font-weight: bolder;
}

/* Header Section */
.header-section{
  background: url(../img/header.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading{
  font-size: 100px;
  color: #fff;
  text-transform: capitalize;
}

.header-heading span{
  color: rgb(235, 163, 55);
  text-shadow: 5px 5px 10px crimson;
}

/* Best Selling Products Section */
.best-selling-products-section{
  position: relative;
  padding: 60px 5vw;
}

.product-title{
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.product-container{
  display: flex;
  justify-content: space-between;
}

.product-card{
  height: 300px;
  width: 300px;
  border: 10px solid #BD4DA3;
  border-radius: 6px;
  background: #D29DC9;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.product-card:nth-child(even){
  border-color: #156BCA;
  background: #548BE0;
}

.product-img{
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.product-name{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  text-transform: capitalize;
  font-family: 'lato', serif;
  color: cornsilk;
  opacity: 0;
  transition: 0.5s;
}

.product-card:hover .product-name{
  opacity: 1;
}

.product-card:hover .product-img{
  opacity: 0.5;
}